body {
  margin: 0px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  font-style: oblique;
  font-weight: bolder;
}

label {
  margin-right: 5px;
  font-weight: bold;
  font-style: oblique;
}

input {
  margin: 5px;
}

.jumbotron {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-size: 5rem;
  font-style: oblique;
  font-weight: lighter;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: left;
}

.nav {
  justify-content: center;
}

.user {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.records {
  padding: 10px;
  left: 100px;

}

.item-input {
  margin: 5px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  width: 250px;
}

input {
  padding: 5px;
}

/* .jumbotron .header {
  justify-content: center;
  font-style: oblique;
} */

/* .header {
  justify-content: center; 
  font-style: oblique;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

