body {
  margin: 0px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  font-style: oblique;
  font-weight: bolder;
}

label {
  margin-right: 5px;
  font-weight: bold;
  font-style: oblique;
  width: 138px;
  text-align: right;
}

.jumbotron {
  display: flex;
  justify-content: left;
  padding: 1rem;
  margin-bottom: 0px;
}

.header h1 {
  font-size: 4rem;
  font-style: oblique;
  font-weight: lighter;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: left;
}

.nav {
  justify-content: start;
}

.user {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.records {
  padding: 10px;
  left: 100px;
}

.dailyrecords {
  display: flex;
  justify-content: space-evenly;
}

.input {
  border: 1px black solid;
  display: grid;
  justify-content: center;
  padding: 25px;
  margin: 25px;
  padding-left: 5px;
}

.signup{
  margin-top: 25px;
  display: grid;
  justify-content: center;
}

.signin{
  margin-top: 25px;
  display: grid;
  justify-content: center;
}

.signin label{
  width: 100px;
}

.submit {
  display: flex;
  justify-content: right;
}

.spinner {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.DayPicker {
  border: 2px solid blue;
}

.cellStyle {
  height: 50;
  width: 60;
  position: relative;
  padding: 0;
  border-bottom: 1px black solid
};
/* .jumbotron .header {
  justify-content: center;
  font-style: oblique;
} */

/* .header {
  justify-content: center; 
  font-style: oblique;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

